name: Build

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - package.json
      - package-lock.json
      - tsconfig.json
      - .github/workflows/build.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: |
          npm run build
          rm -rf dist/test

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Checkout target branch
        run: |
         git checkout --orphan build

      - name: Commit
        run: |
          git rm --cached -r .
          git add dist/* package.json README.md LICENSE --force
          git commit -m "Build" || echo "No changes to commit"

      - name: Push
        run: |
          git push origin build --force
