name: Publish

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - package.json
      - package-lock.json
      - tsconfig.json
      - .github/workflows/**
#   release:
#     types:
#       - released

jobs:
  quality:
    uses: ./.github/workflows/quality.yml

  build:
    uses: ./.github/workflows/build.yml
    needs: quality
